registry=https://registry.npmjs.org/

@mx:registry=https://techkids.pkgs.visualstudio.com/mindx-core/_packaging/mindx-core/npm/registry/ 
                 
always-auth=true

# auto-install-peers=true
# strict-peer-dependencies=false
