@use "sass:map";
$borderGray: map.get($colors, 'gray-900');
$colorTextWhite: map.get($colors, 'white');
$colorTextWhiteTrans900: map.get($colors, 'transparent-white-900');
$colorTextWhiteTrans400: map.get($colors, 'transparent-white-400');
$colorTextGray200: map.get($colors, 'gray-200');
$colorTextGray400: map.get($colors, 'gray-400');
$colorTextGray900: map.get($colors, 'gray-900');
$colorTextYellow600: map.get($colors, 'yellow-600');
$sizeTextButton: (
    large: ( size:xl, weight:bold),
    medium: ( size:l, weight:bold),
    small: ( size:m, weight:bold),
);

$size-button: (
    large,
    medium,
    small
);

$typeButton: (
    cta :(filled :(default: (background-color:map.get($colors, 'brand-600'), border:none, color: $colorTextWhite),
            hover: (background-color:map.get($colors, 'brand-500'), border:none, color: $colorTextWhite),
            pressed: (background-color: map.get($colors, 'brand-600'), border:none, color: $colorTextWhite),
            focused: (background-color: map.get($colors, 'brand-500'), border:none, color: $colorTextWhite),
            disabled: (background-color:map.get($colors, 'gray-200'), border:none, color: $colorTextGray400),
        ), outlined: (default: (background-color:map.get($colors, 'transparent-white-00'), border: 2px solid $borderGray, color:$colorTextGray900),
            hover: (background-color:map.get($colors, 'gray-200'), border: 2px solid $borderGray, color:$colorTextGray900),
            pressed: (background-color:map.get($colors, 'gray-300'), border: 2px solid $borderGray, color:$colorTextGray900),
            focused: (background-color: map.get($colors, 'gray-200'), border: 2px solid $borderGray, color:$colorTextGray900 ),
            disabled: (background-color:map.get($colors, 'transparent-white-00'), border: 2px solid map.get($colors, 'gray-200'), color:$colorTextGray400),
        )),
    primary :(filled :(default: (background-color:map.get($colors, 'gray-900'), border:none, color: $colorTextWhite),
            hover: (background-color:map.get($colors, 'gray-800'), border:none, color: $colorTextWhite),
            pressed: (background-color: map.get($colors, 'gray-700'), border:none, color: $colorTextWhite),
            focused: (background-color: map.get($colors, 'gray-800'), border:none, color: $colorTextWhite),
            disabled: (background-color:map.get($colors, 'gray-200'), border:none, color:$colorTextGray400),
        ),
        outlined: (default: (background-color:map.get($colors, 'transparent-white-00'), border: 2px solid $borderGray, color:$colorTextGray900),
            hover: (background-color:map.get($colors, 'gray-200'), border: 2px solid $borderGray, color:$colorTextGray900),
            pressed: (background-color:map.get($colors, 'gray-300'), border: 2px solid $borderGray, color:$colorTextGray900),
            focused: (background-color: map.get($colors, 'gray-200'), border: 2px solid $borderGray, color: $colorTextGray900),
            disabled: (background-color:map.get($colors, 'transparent-white-00'), border: 2px solid map.get($colors, 'gray-200'), color:$colorTextGray400),
        )),
    secondary :(filled :(default: (background-color:map.get($colors, 'transparent-white-00'), border: 2px solid map.get($colors, 'gray-200'), color:$colorTextGray900),
            hover: (background-color:map.get($colors, 'gray-100'), border: 2px solid map.get($colors, 'gray-300'), color:$colorTextGray900),
            pressed: (background-color: map.get($colors, 'gray-200'), border: 2px solid map.get($colors, 'gray-500'), color:$colorTextGray900),
            focused: (background-color: map.get($colors, 'gray-100'), border: 2px solid map.get($colors, 'gray-400'), color:$colorTextGray900),
            disabled: (background-color:map.get($colors, 'transparent-white-00'), border: 2px solid map.get($colors, 'gray-200'), color:$colorTextGray400),
        ),
        outlined: (default: (background-color:map.get($colors, 'transparent-white-00'), border: 2px solid $borderGray, color:$colorTextGray900),
            hover: (background-color:map.get($colors, 'gray-200'), border: 2px solid $borderGray, color:$colorTextGray900),
            pressed: (background-color:map.get($colors, 'gray-300'), border: 2px solid $borderGray, color:$colorTextGray900),
            focused: (background-color: map.get($colors, 'gray-200'), border: 2px solid $borderGray, color:$colorTextGray900),
            disabled: (background-color:map.get($colors, 'transparent-white-00'), border: 2px solid $borderGray, color:$colorTextGray400),
        ),
    ),
    inverse :(filled :(default: (background-color:map.get($colors, 'transparent-white-900'), border:none, color:$colorTextGray900),
            hover: (background-color:map.get($colors, 'transparent-white-800'), border:none, color:$colorTextGray900),
            pressed: (background-color: map.get($colors, 'transparent-white-900'), border:none, color:$colorTextGray900),
            focused: (background-color: map.get($colors, 'transparent-white-800'), border:none, color:$colorTextGray900),
            disabled: (background-color:map.get($colors, 'transparent-white-00'), border:none, color:$colorTextGray400),
        ),
        outlined: (default: (background-color:map.get($colors, 'transparent-white-00'), border: 2px solid map.get($colors, 'transparent-white-900'), color:$colorTextWhiteTrans900),
            hover: (background-color:map.get($colors, 'transparent-white-200'), border: 2px solid map.get($colors, 'transparent-white-900'), color:$colorTextWhiteTrans900),
            pressed: (background-color:map.get($colors, 'transparent-white-400'), border: 2px solid map.get($colors, 'transparent-white-900'), color:$colorTextWhiteTrans900),
            focused: (background-color: map.get($colors, 'transparent-white-200'), border: 2px solid map.get($colors, 'transparent-white-900'), color:$colorTextWhiteTrans900),
            disabled: (background-color:map.get($colors, 'transparent-white-00'), border: 2px solid map.get($colors, 'transparent-white-400'), color:$colorTextWhiteTrans400),
        ), ),
    danger :(filled :(default: (background-color:map.get($colors, 'red-600'), border:none, color: $colorTextWhite),
            hover: (background-color:map.get($colors, 'red-500'), border:none, color: $colorTextWhite),
            pressed: (background-color: map.get($colors, 'red-600'), border:none, color: $colorTextWhite),
            focused: (background-color: map.get($colors, 'red-500'), border:none, color: $colorTextWhite),
            disabled: (background-color:map.get($colors, 'gray-200'), border:none, color:$colorTextGray400), ),
        outlined: (default: (background-color:map.get($colors, 'transparent-white-00'), border: 2px solid map.get($colors, 'red-600'), color:map.get($colors, 'red-600')),
            hover: (background-color:map.get($colors, 'red-200'), border: 2px solid map.get($colors, 'red-600'), color: map.get($colors, 'red-600')),
            pressed: (background-color:map.get($colors, 'red-300'), border: 2px solid map.get($colors, 'red-600'), color: map.get($colors, 'red-600')),
            focused: (background-color: map.get($colors, 'red-200'), border: 2px solid map.get($colors, 'red-600'), color: map.get($colors, 'red-600')),
            disabled: (background-color:map.get($colors, 'transparent-200'), border: 2px solid map.get($colors, 'gray-200'), color:$colorTextGray200),
        ), ),
    warning :(filled :(default: (background-color:map.get($colors, 'yellow-600'), border:none, color:$colorTextGray900),
            hover: (background-color:map.get($colors, 'yellow-500'), border:none, color:$colorTextGray900),
            pressed: (background-color: map.get($colors, 'yellow-600'), border:none, color:$colorTextGray900),
            focused: (background-color: map.get($colors, 'yellow-500'), border:none, color:$colorTextGray900),
            disabled: (background-color:map.get($colors, 'gray-200'), border:none, color:$colorTextGray400),
        ),
        outlined: (default: (background-color:map.get($colors, 'transparent-white-00'), border: 2px solid map.get($colors, 'yellow-600'), color:$colorTextYellow600),
            hover: (background-color:map.get($colors, 'yellow-100'), border: 2px solid map.get($colors, 'yellow-600'), color:$colorTextYellow600),
            pressed: (background-color:map.get($colors, 'yellow-200'), border: 2px solid map.get($colors, 'yellow-600'), color:$colorTextYellow600),
            focused: (background-color: map.get($colors, 'yellow-100'), border: 2px solid map.get($colors, 'yellow-600'), color:$colorTextYellow600),
            disabled: (background-color:map.get($colors, 'gray-200'), border: 2px solid map.get($colors, 'gray-200'), color:$colorTextGray400),
        ),
    ),
);
$type-state-button: (
    cta :(filled, outlined),
    primary:(filled, outlined),
    secondary:(filled, outlined),
    inverse:(filled, outlined),
    danger:(filled, outlined),
    warning:(filled, outlined),
);
$state: (
    default,
    hover,
    pressed,
    focused,
    disabled
);

@function get-type-text($typeTextName, $sizeTextButton: $sizeTextButton) {
    @return map-get($sizeTextButton, $typeTextName);
}

@function get-size-text($typeTextName, $sizeTextButton: $sizeTextButton) {
    @return map-get(get-type-text($typeTextName, $sizeTextButton), size);
}

@function get-height($typeTextName, $sizeTextButton: $sizeTextButton) {
    @return map-get(get-type-text($typeTextName, $sizeTextButton), height);
}

@function get-weight($typeTextName, $sizeTextButton: $sizeTextButton) {
    @return map-get(get-type-text($typeTextName, $sizeTextButton), weight);
}

@function get-type($typeName, $typeButton: $typeButton) {
    @return map-get($typeButton, $typeName);
}

@function get-appearance($typeName, $appearanceName, $typeButton: $typeButton) {
    @return map-get(get-type($typeName, $typeButton), $appearanceName);
}

@function get-state($typeName, $appearanceName, $stateName, $typeButton: $typeButton) {
    @return map-get(map-get(map-get($typeButton, $typeName), $appearanceName), $stateName);
}

@function get-button-background($typeName, $appearanceName, $stateName, $typeButton: $typeButton) {
    @return map-get(get-state($typeName, $appearanceName, $stateName, $typeButton), background-color);
}

@function get-button-border($typeName, $appearanceName, $stateName, $typeButton: $typeButton) {
    @return map-get(get-state($typeName, $appearanceName, $stateName, $typeButton), border);
}

@function get-button-color($typeName, $appearanceName, $stateName, $typeButton: $typeButton) {
    @return map-get(get-state($typeName, $appearanceName, $stateName, $typeButton), color);
}

@mixin buttonStyle($background, $border, $color) {
    background-color: $background;
    border: $border !important;
    color: $color !important;
    height: auto;
}

@mixin buttonText( $size, $weight) {
    @include fs($size, body);
    font-weight: $weight;
    padding: 12px !important;
    font-family: sans-serif;
}


@mixin rounder() {
    border-radius: 24px;
}

@mixin getButtonStyle ($typeName, $appearanceName, $stateName) {
    @include buttonStyle(get-button-background($typeName, $appearanceName, $stateName), get-button-border($typeName, $appearanceName, $stateName), get-button-color($typeName, $appearanceName, $stateName))
}

@mixin getButtonText ($sizeButtonName) {
    @include buttonText( get-size-text($sizeButtonName), get-weight($sizeButtonName))
}

@each $name in $size-button {
    .size-button-#{$name} {
        @include getButtonText($name)
    }
}

@each $type,
$appearances in $type-state-button {
    @each $appearance in $appearances {
        .button-#{$type}-#{$appearance} {
            @include getButtonStyle($type, $appearance, default);
            @include rounder();
            &:hover {
                @include getButtonStyle($type, $appearance, hover);
            }

            &:active {
                @include getButtonStyle($type, $appearance, pressed);
            }

            &:focus {
                @include getButtonStyle($type, $appearance, focused);
                @include outline();
            }

            &:disabled {
                @include getButtonStyle($type, $appearance, disabled);
            }
        }
    }
}

;