@use "sass:map";
$tabLineColor : map.get($colors, 'brand-500');
$tabTextColorActive : map.get($colors, 'gray-900');
$tabTextColor : map.get($colors, 'gray-600');
$tabTextColorHover : map.get($colors, 'gray-700');
$tabTextColorDisabled: map.get($colors, 'gray-400');

.mx-tab {
    &.ant-tabs {
        .ant-tabs-tab {
            .ant-tabs-tab-btn {
                color: $tabTextColor ;
            }

            &:hover {
                .ant-tabs-tab-btn {
                    color: $tabTextColorHover !important;
                }
            }

            &.ant-tabs-tab-active {
                .ant-tabs-tab-btn {
                    color: $tabTextColorActive !important;
                }
            }

            &.ant-tabs-tab-disabled {
                .ant-tabs-tab-btn {
                    color: $tabTextColorDisabled !important;
                }
            }
        }

        .ant-tabs-ink-bar {
            position: absolute;
            background: $tabLineColor !important;
            pointer-events: none;
        }
    }
}